.container {
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
}

.container_relative {
  position: relative;
  width: 250px;
  height: 350px;
}

.poster_container {
  width: 100%;
  height: 100%;
  background-color: #666;
  position: relative;
}

.details {
  display: none;
}

.container:hover > .container_relative > .details {
  display: block;
}