:root {
  --primary-color: #dce930;
  --primary-text-color: #ddd;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  background-color: #111;
}

* {
  box-sizing: border-box;
}

.auto_container_header {
  margin: 0 auto;
  max-width: 1140px;
}